<template>
    <div class="row justify-content-center">
        <div class="card mb-4 col-lg-9">
            <div class="card-header">
                Crear nueva Publicacion
            </div>
            <div class="card-body">
                    <form @submit.prevent= "submit" id="createPost">
                        <div class="form-group">
                            <label for="title">Nombre completo</label>
                            <input class="form-control" id="title" name="title"  type="text" placeholder="Nombre y CI" v-model="form.title" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="category">Destino</label>
                            <select class="form-control" id="category" name="category" v-model="form.category">
                                <option selected="true" disabled="disabled" value="">Seleccione su destino y hora de viaje</option>
                                <option v-for="(category,index) in getCategorys" :key="index" :value="category.id">{{category.name}}</option>
                            </select>
                        </div>
                        <!--<div class="form-group">
                            <label for="title">Precio</label>
                            <input class="form-control" id="title" name="title"  type="text" placeholder="Precio" v-model="form.precio" autocomplete="off">
                        </div>-->
                        <div class="form-group">
                            <label for="">Elija el precio de su reservacion</label> <br>
                                <input name="precio1" type="radio" value="100" v-model="form.precio">100 Bs. semi-cama <br>
                                <input name="precio2" type="radio" value="200" v-model="form.precio">200 Bs. leito
                        </div>
                        <!--<div class="form-group">
                            <label for="precio">Precio</label>
                            <select class="form-control" id="precio" name="precio" v-model="form.precio" autocomplete="off">
                                <option selected="true" disabled="disabled" value="">Seleccione el precio de su preferencia</option>
                                <option selected="true" disabled="disabled" value="">->Bs. semi-cama</option>
                                    <option>100</option>
                                <option selected="true" disabled="disabled" value="">->Bs. leito</option>
                                    <option>200</option>
                            </select>
                        </div>-->
                        <div class="form-group">
                            <label for="title">Origen</label>
                            <input class="form-control" id="title" name="title"  type="text" placeholder="Origen" v-model="form.origen" autocomplete="off">
                        </div>
                        <!--<div class="form-group">
                            <label for="title">Cantidad de Asientos que desea reservar</label>
                            <input class="form-control" id="title" name="title"  type="text" placeholder="Cantidad de Asientos" v-model="form.asientos" autocomplete="off">
                        </div>-->
                        <div class="form-group">
                            <label for="title">Hora de su viaje</label>
                            <select class="form-control" id="category" name="category" v-model="form.asientos">
                                <option selected="true" disabled="disabled" value="">Seleccione la hora de su reserva</option>
                                <option>12:00</option>
                                <option>16:00</option>
                                <option>20:00</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="title">Suba una imagen suya</label>
                            <input class="form-control" id="image" name="image"  type="file" placeholder="Subir Imagen"  v-on:change="onImageChange">
                        </div>
                        <div class="form-group">
                            <label for="body">Fecha para su viaje:</label>
                            <!--<textarea class="form-control" id="body" rows="1" v-model="form.body"></textarea>-->
                            <input class="form-control" id="title" type="date" min="2021-01-01" max="2021-12-31" name="fecha" v-model="form.body">
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Crear Publicacion</button>
                    </form>
            </div>
        </div>
    </div>
</template>
<script>
import {mapActions, mapGetters} from 'vuex'
export default {
    name:'CreatePost',
    data(){
        return{
            form:{
                title:'',
                category:'',
                body:'',
                precio:'',
                asientos:'',
                origen:'',
            },
            image:''
        }
    },
    computed:{
        ...mapGetters({
            getCategorys:'category/get_all_categorys'
        })
    },
    methods:{
        ...mapActions({
            send_create_post:'post/createPost',
            get_all_categorys:'category/getCategorysAll'
        }),
         onImageChange(e){
            this.image = e.target.files[0]
        },
        async submit(){
            //await this.send_create_post(this.form)
            const config = {
                headers:{'content-type':'multipart/form-data'}
            }
            console.log(this.image)
            let formData = new FormData();
            formData.append('file',this.image)
            formData.append('form',JSON.stringify(this.form))
            /*for(var key of formData.entries()){
                console.log(key[0] +' , ' + key[1])
            }*/

            let data = {
                config:config,
                formdata:formData
            }

            try { 
                await this.send_create_post(data)
                $('#createPost')[0].reset()
                this.$swal({
                    icon: 'success',
                    title: 'Creado correctamente',
                    showConfirmButton: false,
                    timer: 1500
                })
            } catch (error) { 
                let msgError =''
				let obj = error.response.data.errors
				for(var prop in obj){
					if(!obj.hasOwnProperty(prop)) continue
					obj[prop].forEach(element => {
					msgError = element + ' ' + msgError
					});
				}
				this.$swal({
					icon: 'error',
					title: 'Oops...',
					text: msgError,
				})  
            }
            
        }
    },
    mounted(){
        this.get_all_categorys()
    }
}
</script> 