<template>
    <div class="row justify-content-center">
        <div class="card mb-4 col-lg-9">
            <div class="card-header">
                Editar publicacion
            </div>
            <div class="card-body">
                    <form @submit.prevent= "submit" id="edit_publicacion">
                        <div class="form-group">
                            <label for="title">Nombre completo y CI</label>
                            <input class="form-control" id="title" name="title"  type="text" placeholder="Titulo" v-model="getPost.title" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="category">Destino</label>
                            <select class="form-control" id="category" name="category" v-model="getPost.categoryId">
                                <option selected="true" disabled="disabled" value="">Seleccione una categoria</option>
                                <option v-for="(category,index) in getCategorys" :key="index" :value="category.id">{{category.name}}</option>
                            </select>
                        </div>
                        <!--<div class="form-group">
                            <label for="title">precio</label>
                            <input class="form-control" id="precio" name="title"  type="number" placeholder="precio" v-model="getPost.precio">
                        </div>-->
                        <div class="form-group">
                            <label for="">Elija el precio de su reservacion</label> <br>
                                <input name="precio" type="radio" value="100" v-model="getPost.precio">100 Bs. semi-cama <br>
                                <input name="precio" type="radio" value="200" v-model="getPost.precio">200 Bs. leito
                        </div>
                        <!--<div class="form-group">
                            <label for="title">Cantidad de reservas</label>
                            <input class="form-control" id="asientos" name="title"  type="text" placeholder="asientos" v-model="getPost.asientos">
                        </div>-->
                        <div class="form-group">
                            <label for="title">Hora de su viaje</label>
                            <select class="form-control" id="hora" name="hora" v-model="getPost.asientos">
                                <option selected="true" disabled="disabled" value="">Seleccione la hora de su reserva</option>
                                <option>12:00</option>
                                <option>20:00</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="title">Origen</label>
                            <input class="form-control" id="origen" name="title"  type="text" placeholder="origen" v-model="getPost.origen">
                        </div>
                        <div class="form-group">
                            <label for="title">Suba una imagen suya</label>
                            <input class="form-control" id="image" name="image"  type="file" placeholder="Subir Imagen"  v-on:change="onImageChange">
                        </div>
                        <div class="form-group col-lg-3">
                            <label for="body">Fecha de viaje</label>
                            <!--<textarea class="form-control" id="body" rows="1" v-model="getPost.body"></textarea>-->
                            <input class="form-control" id="body" type="date" min="2021-01-01" max="2021-12-31" name="fecha" v-model="getPost.body">
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Editar Reservacion</button>
                    </form>
            </div>
        </div>
    </div>
</template>
<script>
import {mapActions, mapGetters} from 'vuex'
export default {
    name:'CreatePost',
    data(){
        return{
            form:{
                title:'',
                category:'',
                body:'',
                precio:'',
                asientos:'',
                origen:'',
            },
            image:''
        }
    },
    computed:{
        ...mapGetters({
            getCategorys:'category/get_all_categorys',
            getPost:'post/detail_post' 
        })
    },
    methods:{
        ...mapActions({
            get_all_categorys:'category/getCategorysAll',
            get_post:'post/detailPost',
            edit_post:'post/editPost'
        }),
         onImageChange(e){
            this.image = e.target.files[0]
        },
        async submit(){

            this.form={
                title:$('#title').val(),
                category:$('#category').val(),
                body:$('#body').val(),
                idpost:this.getPost.id, //esto para mi propio metodo de actualizar
                precio:$('input[name=precio]:checked','#edit_publicacion').val(),
                hora:$('#hora').val(),
                origen:$('#origen').val(),
            }
            
            
            const config = {
                headers:{'content-type':'multipart/form-data'}
            }
            console.log(this.image)
            let formData = new FormData();
            
            formData.append('file',this.image)
            formData.append('form',JSON.stringify(this.form))
            formData.append('_method','PUT') //AÑADIR PARA EL METODO POR DEFECTO put PARA ACTUALIZAR

            for(var value of formData.values()){
                console.log(value)
            }
            
            let data = {
                config:config,
                parameter:this.$route.params.slug,
                formdata:formData
            }

            try {
                await this.edit_post(data)
                //$('#edit_publicacion')[0].reset()
                this.$swal({
                    icon: 'success',
                    title: 'Editado correctamente',
                    showConfirmButton: false,
                    timer: 2500
                })
            } catch (error) {
                let msgError =''
				let obj = error.response.data.errors
				for(var prop in obj){
					if(!obj.hasOwnProperty(prop)) continue
					obj[prop].forEach(element => {
					msgError = element + ' ' + msgError
					});
				}
				this.$swal({
					icon: 'error',
					title: 'Oops...',
					text: msgError,
				})
            }
            //await this.edit_post(data)
        },
    },
    mounted(){
        //console.log(this.$route.params.slug)
        this.get_all_categorys()
        this.get_post(this.$route.params.slug)
    }
}
</script>