<!--<template> 
    <form action="#" @submit.prevent = "submit">
        <div>
            <label for="name">Nombre</label>
            <input type="text" name="name" id="name" v-model="form.name">
        </div>
        <div>
            <label for="email">Correo electronico</label>
            <input type="email" name="email" id="email" v-model="form.email">
        </div>
        <div>
            <label for="password">Contraseña</label>
            <input type="text" name="password" id="password" v-model="form.password">
        </div>
        <div>
            <label for="password">Confirmar Contraseña</label>
            <input type="text" name="password_confirmation" id="password_confirmation" v-model="form.password_confirmation">
        </div>
        <button type="submit">Registrarse</button>
    </form>
</template>-->

<template> 
	<div>
		<NavHome :color="color"/>
		<div class="container" style="padding-top: 3%;">
			<div class="container-login100">
				<div class="wrap-login100">
					<form class="login100-form validate-form bg-gradient-success text-black" @submit.prevent = "submit">
						<span class="login100-form-title p-b-34 text-black">
							Llene los campos con sus datos
						</span>
						
						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Nombre Completo</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="name" id="name"  placeholder="Nombres y apellidos" v-model="form.name">
								</div>
							</div>
						</div>

							<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Ingrese Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="email" name="email" id="email" placeholder="Ingrese su Email" v-model="form.email">
								</div>
							</div>
						</div>

                        <div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">Confirme su Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" name="password" id="password" placeholder="Ingrese su Password" v-model="form.password">
								</div>
							</div>
						</div>

                        <div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">Confirme su Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" name="password_confirmation" id="password_confirmation" placeholder="Confirme su Password" v-model="form.password_confirmation">
								</div>
							</div>
						</div>
						
						<input class="login100-form-btn bg-black" name="button" type="submit" value="REGISTRARSE">

					</form>
					<div class="login100-more" style="background-image:url('/images/bg-02.jpg')"></div>	 
				</div>
			</div>
		</div>

	</div>
    
</template>

<script>
import {mapActions} from 'vuex'
import NavHome from '../components/NavHome'
export default {
    name:"SignUp",
    components:{NavHome},
    data(){
        return {
            form:{
                name:'',
                email:'',
                password:'',
                password_confirmation:''
            },
            color:'black'
        }
    },
    methods:{
        ...mapActions({
            send:'auth/signUp'
        }),
        async submit(){
			try {
				await this.send(this.form)
            	this.$router.replace({name:'dashboard'})
				this.$swal({
                    icon: 'success',
                    title: 'Registrado correctamente',
                    showConfirmButton: false,
                    timer: 1500
                })
			}catch (error) {
				let msgError =''
				let obj = error.response.data.errors
				for(var prop in obj){
					if(!obj.hasOwnProperty(prop)) continue
					obj[prop].forEach(element => {
					msgError = element + ' ' + msgError
					});
				}
				this.$swal({
					icon: 'error',
					title: 'Oops...',
					text: msgError,
				})
			}
           // await this.send(this.form)
            //this.$router.replace({name:'dashboard'})
        }
    }
}
</script>