<template>
    <div class="row justify-content-center">
        <div class="col-lg-7" v-for="(post,index) in get_posts_user.data" :key="index">
            <div class="card shadow mb-4">
                
                <div class="bg-gradient-danger card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary" v-on:click="detailPost(post.slug)">Detalles</h6>-->
                    <h6 class="m-0 font-weight-bold text-white">Agencia de viajes Ivan | Reservacion #:{{post.NumberBoleto}}</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="bg-gradient-secondary dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Opciones:</div>
                            <!--<a class="dropdown-item" :post-edit="post.slug" v-on:click="editPost">Editar</a>-->
                            <a class="dropdown-item" v-on:click="editPost(post.slug)">Editar</a>
                            <!--<router-link class="dropdown-item" :to="{name:'dashboard.editpost',params:{slug:post.slug}}">
                                Editar
                            </router-link>-->
                            <a class="dropdown-item" v-on:click="deletePost(post.slug)">Eliminar</a>
                        </div>
                    </div>
                </div>
                
                <img :src="post.photo" width="100%" height="300px"/> 
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <span class="text-default">
                                Usuario: {{post.user.name}}
                            </span>
                        </div>
                        <div class="col-md-6">
                            <span class="text-danger text-right d-block">
                                {{post.added}}
                            </span>
                        </div>
                    </div>
                    <label for="body">Nombre Completo y CI:</label>
                        <p class="lead">{{post.title}}</p>
                    <label for="body">Origen:</label>
                        <p class="lead">{{post.origen}}</p>
                    <label for="body">Cantidad de reservas:</label>
                        <p class="lead">{{post.asientos}}</p>
                    <label for="body">Destino:</label>
                        <p class="lead">{{post.categoryName}}</p>
                    <label for="body">Precio:</label>
                        <p class="lead">{{post.precio}} Bs.</p>
                    <label for="body">Fecha de viaje:</label>
                        <p class="lead">{{post.body.substr(0,200)}}</p>                 
                    
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    /*var ejemplo = new Vue ({
        el: '#ejemplo-1',
        data:{
            valor1: true
        }
    });*/
import {mapGetters ,mapActions} from 'vuex'
export default {
    name:'UserPosts',
    computed:{
        ...mapGetters({
            get_posts_user:'post/get_post_user'
        })
    },
    methods:{
        ...mapActions({
            get_all_post_user:'post/getAllPostUser',
            delete_post:'post/deletePost'
        }),
        //editPost(e){
        editPost(paramSlug){          
            //this.$router.replace({name:'dashboard.editpost',params:{slug:$(e.currentTarget).attr('post-edit')}})
            this.$router.replace({name:'dashboard.editpost',params:{slug:paramSlug}})
        },
        deletePost(paramSlug){
            this.delete_post(paramSlug)
        },
        detailPost(paramSlug){          
            //this.$router.replace({name:'dashboard.editpost',params:{slug:$(e.currentTarget).attr('post-edit')}})
            this.$router.replace({name:'dashboard.detailpost',params:{slug:paramSlug}})
        },
    },
    mounted(){
        this.get_all_post_user()
    },
}
</script> 